*{
	/*border:1px solid red;*/
}
#orderDetail{
	min-height: 540px;
}
#orderTitle{
	width:200px;
	height:50px;
	margin:40px auto 0px;
	font-size:35px;
	text-align: center;
}
#orderDetail span{
	display: block;
	background-color: #e0e0e0;
	margin:3px auto 20px;
	width:56px;
	height: 3px;
}
#orderTable{
	border-spacing: 0px;
	border:2px solid #ccc;
	margin:10px auto;
	width:1400px;
	height:200px;
}
#orderTable tr td{
	text-align: center;
	width:200px;
	border:2px solid #ccc;
}