*{
	/*border:1px solid red;*/
}
#ossanBlock{
	min-height: 520px;
}
#allOssan{
	width:1200px;
	margin:40px 80px;
	list-style: none;
}
#allOssan li{
	vertical-align: top;
	display:inline-block;
	width:1200px;
	height:200px;
	position: relative;
	background-color: #dfdfdf;
	overflow: hidden;
	border-radius: 5px;
	border:3px dashed #ccc;
	margin:5px;
}
.imageDiv{	
	display: inline-block;
	width:200px;
	height:200px;
	position: relative;
	left:20px;
	background-color: #dfdfdf;
	box-shadow: 0px 0px 20px #666;
	overflow: hidden;
}
#allOssan li img{
	position: absolute;
	display: block;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 98%;
    z-index: 5;
}
.content{
	display: inline-block;
	vertical-align: top;
	width:900px;
	height:200px;
	position: relative;
	top:0px;
	left:40px;
}
.name{
	margin:10px;
	font:24px Microsoft JhengHei;
}
.quote{
	word-wrap:break-word;
	font:18px Microsoft JhengHei;
	margin:10px;
	color:#787878;
}
.nameHref{
	text-decoration: none;
	color:#000;
}
.bg-y{
	background-color:rgba(255,255,75,0.8);
}